antiorm
asgiref
db
dj-database-url
Django
django-cors-headers
django-environ
django-filter
djangorestframework
environ
Markdown
pillow
psycopg-binary
psycopg2-binary
sqlparse
typing_extensions
tzdata
whitenoise
